{% extends 'store/base.html'%}
{% load static %}
{% load formatted_price %}
{% load cart_quantity %}
{% load cart_total %}

{% block title %}Detalhes do pedido {% endblock %}

{% block content %}
<!--Pedido card de informações-->
<link rel="stylesheet" href="{% static 'css/cart.css'%}">

<div class="container container-cartInfo">
    <div class="card">
        <div class="card-body">
            <div class="text-center">
                <h1 class="text-uppercase">Informações de pedido</h1>
                <h2 class="text-uppercase card-text mt-3">Data do pedido: {{order.date_ordered}}</h2>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid container-cartInfo">
    <div class="row">
        <div class="col-lg-4 ml-auto mt-2">
            <div class="card card-cartInfo">
                <div class="card-body">
                  <h3 class="card-text text-center">Quantidade de itens:</h3>
                  <hr>
                  <div class="text-total text-center mt-3">{{order.qtd_total}}</div>
                  <div class="text-center">
                    <h2 class="card-text text-center">Total a pagar:</h2>    
                    <div class="text-total text-center mt-4">{{order.total|formatting_price}}</div>
                  </div>  
                </div>
            </div>
        </div>
        <div class="col-lg-4 mr-auto mt-2">
            <div class="card card-cartInfo">
                <div class="card-body">
                  <h3 class="card-text text-center">Número do pedido:</h3>
                  <hr>
                  <div class="text-total text-center">{{order.id}}</div>
                    <div class="text-center">
                        <h2 class="card-text text-center mt-3">Status</h2>       
                        <div class="text-total text-center">{{order.get_status_display}}</div>
                    </div>    
                  </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<!-- Fim do pedido card de informações-->
<!-- tabela carrinho de compras -->

<div class="container mt-5">
      {% for line in order.orderitem_set.all %}  
      <div class="card card-cartItems mb-3">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-itemInfo text-center">
                    <div class="card-header card-itemTitle mb-3">
                      <p class="link-itemTitle">{{line.product}}</p>
                    </div>
                    <div class="card-body">
                      <p class="card-title card-itemPrice mt-3">
                        Total unitário: {{line.price|formatting_price}}</p>
                      <p class="card-title card-itemPrice mt-5">
                        Variação: {{line.variation}}</p>
                      <p class="card-text card-ItemQt mt-5">
                        Quantidade: {{line.quantity}}</p>
                    </div>
                </div>    
            </div>
        </div>
      </div>
      {% endfor %}
</div>


{% endblock %}