{% load static %}
{% load widget_tweaks %}

{% block content %}
    
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/register.css'%}">
 
<div class="container-fluid register-container">
    <div class="card card-container">
        <div class="card-body register-card">
            <h1 class="register-title mb-5">Alterar senha</h1>
            <p class="text-passReset"> Esqueceu a senha? Digite 
                seu endereço de e-mail abaixo. As intruções 
                para alterar sua senha serão enviadas para o e-mail digitado.</p>
            <hr>
            <form method="POST" action="" class="register-form"> 
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">E-mail</label>
                    {% render_field form.email class="form-control" type="email"%}
                </div>
                <div class="text-center mt-4"> 
                    <button type="submit" class="btn btn-lg btn-block btn-register">Enviar</button>  
                </div>
            </form> 
        </div>
    </div>
</div>


{% endblock %}        
       