{% extends 'store/base.html'%}
{% load static %}
{% block content %}
    
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/register.css'%}">

<div class="container-fluid register-container">
    <div class="card card-container">
        <div class="card-body register-card">
            <h1 class="register-title mb-5">Alteração de senha concluída!</h1>
            <hr>
            <p class="text-passReset">
                Sua senha foi alterada com sucesso, agora você já pode fazer login.
            </p>
            <div class="text-center">
                <a href="{% url 'login_form'%}" class="btn btn-register mt-3">Login</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}        