{% extends 'store/base.html'%}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/register.css'%}">
 
<div class="container-fluid register-container">
    <div class="card card-container">
        <div class="card-body register-card">
            <h1 class="register-title mb-5">Alterar senha</h1>
            <hr>
            <form method="POST" action="" class="register-form"> 
                {% csrf_token %}

                    {{form}}
                
                <div class="text-center mt-4"> 
                    <button name="Update Password" type="submit" class="btn btn-register">Alterar senha</button>  
                </div>
            </form> 
        </div>
    </div>
</div>


{% endblock %}        