{% extends 'store/base.html'%}
{% load static %}
{% block content %}
    
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/register.css'%}">
   
<div class="container-fluid register-container">
    <div class="card card-container">
        <div class="card-body register-card">
            <h1 class="register-title mb-5">As instruções para alteração de 
                senha foram enviadas!</h1>
            <hr>
            <p class="text-passReset">Nós enviamos um e-mail com as 
                instruções para alterar a senha. Se você não receber o
                e-mail, por favor verifique sua caixa de spam ou se digitou 
                seu endereço de e-mail corretamente.
            </p>
        </div>
    </div>
</div>


{% endblock %}        