{% extends 'store/base.html'%}
{% load static %}
{% load formatted_price %}
{% load cart_quantity %}
{% load cart_total %}

{% block title %}Realizar pagamento |{% endblock %}

{% block content %}
<!--Pedido card de informações-->
<link rel="stylesheet" href="{% static 'css/cart.css'%}">

<div class="container container-cartInfo">
    <div class="card">
        <div class="card-body">
            <div class="text-center">
                <h1 class="text-uppercase">Informações de pedido</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid container-cartInfo">
    <div class="row">
        <div class="col-lg-4 ml-auto mt-2">
            <div class="card card-cartInfo">
                <div class="card-body">
                  <h1 class="card-text text-center">Quantidade de itens:</h1>
                  <hr>
                  <div class="text-total text-center mt-3">{{order.qtd_total}}</div>
                  <div class="text-center">
                    <h2 class="card-text text-center">Total a pagar:</h2>    
                    <div class="text-total text-center mt-4">{{order.total|formatting_price}}</div>
                  </div>  
                </div>
            </div>
        </div>
        <div class="col-lg-4 mr-auto mt-2">
            <div class="card card-cartInfo">
                <div class="card-body">
                  <h1 class="card-text text-center">Número do pedido:</h1>
                  <hr>
                  <div class="text-total text-center">{{order.id}}</div>
                    <div class="text-center">
                        <h2 class="card-text text-center mt-3">Status</h2>       
                        <div class="text-total text-center">{{order.get_status_display}}</div>
                    </div>    
                  </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<!-- Fim do pedido card de informações-->
<!-- tabela carrinho de compras -->

<div class="container mt-5">
      {% for line in order.orderitem_set.all %}  
      <div class="card card-cartItems mb-3">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-itemInfo text-center">
                    <div class="card-header card-itemTitle mb-3">
                      <p class="link-itemTitle">{{line.product}}</p>
                    </div>
                    <div class="card-body">
                      <p class="card-title card-itemPrice mt-3">
                        Total unitário: {{line.price|formatting_price}}</p>
                      <p class="card-title card-itemPrice mt-5">
                        Variação: {{line.variation}}</p>
                      <p class="card-text card-ItemQt mt-5">
                        Quantidade: {{line.quantity}}</p>
                    </div>
                </div>    
            </div>
        </div>
      </div>
      {% endfor %}
    <div class="card mt-5">
        <div class="card-body">
            <h3 class="text-center text-uppercase mb-5">Métodos de pagamento</h3>
            <div id="paypal-button-container" class="text-center"></div>
        </div>    
    </div>
</div>


<script src="https://www.paypal.com/sdk/js?client-id=AVbfnbF0AVOgKg40iy3UMJ1NjJpPjS8upegT3heG3VY-SJWh8GjxMLrPFwWyppXzrhwCHtrGInS-Rqb3"></script>

<script>
    var total = '{{order.total}}'
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: parseFloat(total).toFixed(2)
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                // Show a success message to the buyer
                alert('Transação completada por ' + details.payer.name.given_name + '!');
            });
        }


    }).render('#paypal-button-container');
</script>

{% endblock %}