{% extends 'store/base.html'%}
{% load static %}
{% load widget_tweaks %}

{% block title %}Cadastrar-se |{% endblock %}

{% block content %}
    
<link rel="stylesheet" href="{% static 'css/register.css'%}">
<!-- form de registro -->   
<div class="container-fluid register-container">
    <div class="card card-container">
        <div class="card-body register-card">
            <h1 class="register-title mb-5">Cadastre-se</h1>
            <hr>
            <form method="POST" action="" class="register-form"> 
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="Name">Primeiro nome</label>
                        {% render_field userform.first_name class="form-control" type="firstName"%}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="lastName">último nome</label>
                        {% render_field userform.last_name class="form-control" type="lastName"%}
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    {% render_field userform.email class="form-control" type="email"%}
                    <small class="form-text error_message">{{userform.errors.email}}</small>
                </div>
                <div class="form-group">
                    <label for="username">Usuário</label>
                    {% render_field userform.username class="form-control" type="username"%}
                    <small class="form-text error_message">{{userform.errors.username}}</small>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="password">Senha</label>
                        {% render_field userform.password1 class="form-control" type="password"%}
                        <small class="form-text error_message">{{userform.errors.password1}}</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="password2">Confirme a senha</label>
                        {% render_field userform.password2 class="form-control" type="password"%}
                        <small class="form-text error_message">{{userform.errors.password2}}</small>
                    </div>
                </div>
                <a href="{% url 'login_form' %}" class="have-account">Já possui conta? Faça login</a>
                <div class="text-center mt-4"> 
                    <button type="submit" class="btn btn-lg btn-block btn-register">Cadastre-se</button>  
                </div>
            </form> 
        </div>
    </div>
</div>

<!-- Fim do form de registro -->
{% endblock %}        
       